lesson12/ansible/ansible.cfg
lesson12/ansible/playbook1.yml
lesson12/ansible/key
lesson12/ansible/key.pub
lesson13/ansible_key.ssh
# Игнорировать все файлы с расширением .lock.hcl
*.lock.hcl

# Игнорировать файлы с именем generated.tf
generated.tf

# Игнорировать файлы с именем import.tf
import.tf

# Игнорировать файлы с именем key.json
key.json

# Игнорировать файлы terraform.tfstate и любые резервные копии
.terraform
terraform.tfstate
terraform.tfstate.backup

# Игнорировать файлы CHANGELOG.md, LICENSE, README.md и terraform-provider-yandex_*
*/linux_amd64/CHANGELOG.md
*/linux_amd64/LICENSE
*/linux_amd64/README.md
terraform-provider-yandex_*
